<%- include("../partials/adminHeader") %>

        <main class="main-wrap">
            <section class="content-main">
    <form action="/admin/add-product" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                    <div>
                        <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                        <button onclick="validate()" class="btn btn-md rounded font-sm hover-up" type="submit">Publich</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product title</label>
                                <input name="product_name" required="true"  type="text" placeholder="Type here" class="form-control" id="name" maxlength="20">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea name="description" placeholder="Type here" class="form-control" rows="4" id="description"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Regular price</label>
                                        <div class="row gx-2">
                                            <input name="regular_price" required="true" required="true" placeholder="$" type="text" class="form-control" id="Rprice">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Sale price</label>
                                        <input name="sale_price" required="true" placeholder="$" type="text" class="form-control" id="Pprice">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Units</label>
                                        <input name="units" required="true" type="number" class="form-control" id="unit">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div> <!-- card end// -->
            </div>
            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Media</h4>
                    </div>
                    <div class="card-body">
                        <small style="font-weight: bold;">Upload images</small>
                        <div class="input-upload">
                            <img src="/assets/imgs/theme/upload.svg" alt="">
                            <input name="image" required="true" class="form-control" type="file" multiple>
                            
                        </div>
                    </div>
                </div> <!-- card end// -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Organization</h4>
                    </div>
                    <div class="card-body">
                        <div class="row gx-2">
                            <div class="col-sm-6 mb-3">
                                <label class="form-label">Category</label>
                                <select class="form-select border" id="category" style="width: 150px;" name="category">
                                    <% for (let i=0; i < cat.length; i++) { %>
                                        <option value="<%= cat[i].name %>">
                                            <%= cat[i].name %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                        </div> <!-- row.// -->
                    </div>
                </div> <!-- card end// -->
            </div>
        </div>
        <p id="err-msg"></p>
    </form>
    </section> <!-- content-main end// -->
    
<script>
function validate() {
    document.getElementById('err-msg').innerHTML = ''
    let name = document.getElementById('name').value;
    let Pprice = parseInt(document.getElementById('Pprice').value);
    let Rprice = parseInt(document.getElementById('Rprice').value);
    let unit = document.getElementById('unit').value;
    let description = document.getElementById('description').value;

    if (Rprice < Pprice) {
        document.getElementById('Rprice').style.borderColor = 'red'
        document.getElementById('Rprice').style.borderWidth = '1px'
        document.getElementById('Pprice').style.borderColor = 'red'
        document.getElementById('Pprice').style.borderWidth = '1px'
        event.preventDefault();
    }else{
        document.getElementById('Rprice').style.borderColor = 'gray'
        document.getElementById('Rprice').style.borderWidth = '1px'
        document.getElementById('Pprice').style.borderColor = 'gray'
        document.getElementById('Pprice').style.borderWidth = '1px'
    }

    const nameRegex = /^[A-Za-z0-9]{1,50}$/;

    if (nameRegex.test(name)) {
    } else {
        document.getElementById('name').style.borderColor = '#cc0000'
        document.getElementById('name').style.borderWidth = '1px'
        document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Name error'
        event.preventDefault()
    }

    const RpriceRegex = /^[1-9][0-9]*$/


    if (RpriceRegex.test(Rprice)) {
       
     } else {
        document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Regular Price error'
        document.getElementById('Rprice').style.borderColor = 'red'
        document.getElementById('Rprice').style.borderWidth = '1px'
        event.preventDefault()
    }

    const PpriceRegex = /^[1-9][0-9]*$/



    if (RpriceRegex.test(Pprice)) { } else {
        document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Promotional Price error'
        document.getElementById('Pprice').style.borderColor = 'red'
        document.getElementById('Pprice').style.borderWidth = '1px'
        event.preventDefault()
    }

    const unitRegex = /^\d+$/;

    if (unitRegex.test(unit)) { } else {
        document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> unit  error'
        document.getElementById('unit').style.borderColor = 'red'
        document.getElementById('unit').style.borderWidth = '1px'
        event.preventDefault()
    }

    const descRegex = /^(?!\s*$).+/;


    if (descRegex.test(description)) { } else {
        document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Description  error'
        document.getElementById('description').style.borderColor = 'red'
        document.getElementById('description').style.borderWidth = '1px'
        event.preventDefault()
    }



}
</script>

<%- include("../partials/adminFooter") %>