<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Signup</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
          <div class="text-center my-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" viewBox="0 0 512 512">
              <path
                d="M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z" />
            </svg>
          </div>
          <div class="card shadow-lg my-5">
            <div class="card-body p-5 mt">
              <h1 class="fs-4 card-title fw-bold mb-4 text-center">
                Sign Up
              </h1>

              <form method="POST" class="needs-validation" action="/userCreated">
                <% if (locals.enterUsername) { %>
                  <div class="alert alert-danger text-center" id="enterUsername">
                    <%= enterUsername %>
                  </div>
                  <% } %>

                    <div class="mb-3">
                      <label class="mb-2 text-muted" for="email">Username</label>
                      <input id="username" type="text" class="form-control" name="username" value="" required
                        autofocus />
                    </div>

                    <div class="mb-3">
                      <label class="mb-2 text-muted" for="email">Email</label>
                      <input id="email" type="email" class="form-control" name="email" value="" required autofocus />
                    </div>

                    <div class="mb-3">
                      <div class="mb-2 w-100">
                        <label class="text-muted" for="password">Password</label>
                      </div>
                      <input id="password" type="password" class="form-control" name="password" required autofocus />
                    </div>

                    <div class="mb-3">
                      <div class="mb-2 w-100">
                        <label class="text-muted" for="password">Confirm Password</label>
                      </div>
                      <input id="password" type="password" class="form-control" name="repassword" required autofocus />
                    </div>

                    <div class="d-flex align-items-center justify-content-center">
                      <button type="submit" class="btn btn-primary mt-3" id="signup">
                        Signup
                      </button>
                    </div>
              </form>
            </div>
            <div class="card-footer py-3 border-0">
              <div class="text-center">
                Already have an account?
                <a href="login" class="text-dark">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    const enterUsername = document.getElementById("enterUsername");
    if (enterUsername) {
      setTimeout(() => {
        enterUsername.style.display = "none";
      }, 3000);
    }


  </script>
</body>

</html>